body {
    border: 5px solid black;
    margin: 0;
}
.header, .content_one, .content_two, .insparation_note {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 150px;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 25px;
}
.content_one {
    background-color: #1F2937;
    display: flex;
}
.card {
    display: flex;
    width: 1000px;
    height: 250px;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
    color: white;
}
button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
}




.insparation_note {
    background-color: #E5E7EB;
    display: flex;
}
.footer {
    background-color: #1F2937;
}
.Sign-up, button {
    background-color: #3882F6;
    color: white;
}
li {
    list-style-type: none;
}
a, .one_text_b {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.one_text_a {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header_logo {
    font-size: 24px;
    color: #F9FAF8;
} 
.two_sub-content-two{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
