body {
    margin: 0;
}
.header, .content_one, .content_two, .insparation_note {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 125px;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 25px;
}
.content_one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    width: 1000px;
    height: 250px;
    background-color: #6D747D;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 25px;
}
button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0;
}
.content_two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two_sub-content-one{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 25px;
}
.two_sub-content-two {
    display: flex;
}
.abc {
    margin-right: 40px;
    width: 175px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.card_2 {
    width: 150px;
    height: 150px;
    border: 5px solid #478AF7;
    border-radius: 20px;
}
.insparation_note {
    background-color: #E5E7EB;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.note {
    margin: 100px;
    font-size: 36px; 
    font-family: 'light italic'; 
    color: #1F2937;
    width: 800px;
    height: 200px;
}
.Sign-up {
    height: 175px;
    margin-top: 100px;
    margin-bottom: 75px;
    margin-left: 150px;
    margin-right: 125px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub_card {
    display: flex;
    justify-content: space-evenly;
}
.sub_card button {
    border: 2px white solid;
    height: auto;
} 
button {
    font-weight: 1000;
    font-size: 24px;
}
.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    font-size: 24px;
    font-weight: bolder;
}



.Sign-up, button {
    background-color: #3882F6;
    color: white;
}


li {
    list-style-type: none;
}
a, .one_text_b {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.one_text_a {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header_logo {
    font-size: 24px;
    color: #F9FAF8;
} 

